extends index
prepend header
	- //Template Name: Teste
prepend wrapper
	| <?php 
	|			$items = array(
	|				(object) array(
	|					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona1.jpg",
	|					"href" => "http://www.google.com",
	|					"target" => "_blank",
	|					"title" => "Sexy!",
	|					"caption" => "Wow, such <b>Amazing</b>!"
	|				),
	|				(object) array(
	|					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona2.jpg",
	|					"title" => "Cute!",
	|					"caption" => "<i class=\"fa fa-heart\"></i> <i class=\"fa fa-bomb\"></i> <i class=\"fa fa-heartbeat\"></i>"
	|				),
	|				(object) array(
	|					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona3.jpg",
	|					"title" => "Amazing!",
	|					"caption" => "Such <em>Beautiful</em>, Wow!"
	|				),
	|				(object) array(
	|					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona4.jpg",
	|					"title" => "Fabulous!"
	|				),
	|				(object) array(
	|					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona5.jpg",
	|					"caption" => "Outstanding!"
	|				),
	|				(object) array(
	|					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona6.jpg"
	|				)
	|	); ?>
	| <?php
	|		$options = (object) array(
	|					"out"=> true,
	|					"height"=> 400,
	|					"controls"=> false
	|		); ?>
	+slider("carousel-0", "<?php $items ?>", "<?php $options?>")
block main	
	main#content(class!="<?php echo odin_classes_page_full(); ?>",tabindex="-1",role="main")
		div.container-fluid
			//- CAROUSEL
			div.row
				include ./test/_carousel
			//- NEWSLETTER
			div.row
				include ./test/_newsletter
			div.row
				include ./test/_modal
block sidebar
