extends index
prepend header
	- //Template Name: Archives
append styles
	link(rel="stylesheet", href!=css("pages/archive/archive.css"))
block main
	block back
		.mdl-cell.mdl-cell--12-col
			+button_back
	block archive-header
	block archive-content
		- foreach( $posts as $post ):
			- setup_postdata($post)
				+post-card
			- wp_reset_postdata()
		- endforeach
	block archive-footer
	
