extends archive
append styles
	link(rel="stylesheet", href!=css("pages/author/author.css"))
block archive-header
	.mdl-cell.mdl-cell--12-col
		#author-card.gxn-card.mdl-card.mdl-shadow--2dp
			:php
				if(get_field('is_image', 'user_'. get_the_author_id())) {
					$author_bg = get_field('image', 'user_'. get_the_author_id()); 		
					$bg_style = "background-image:url({$author_bg})";
				} else {
					$author_bg = get_field('color', 'user_'. get_the_author_id());
					$bg_style = "background-color:{$author_bg}";
				}
			.mdl-card__media(style!=echo('$bg_style'))
				.avatar.img-circle(style!=background('get_avatar_url(get_the_author_id())', true))
				.info
					h1.text-center.text-white!= get_the_author_meta('display_name', get_the_author_id())
					- $twitter = get_field('twitter', 'user_'. get_the_author_id());
					- if($twitter):
						.twitter-link.text-center
							a.text-center.text-white(href!=echo('"https://www.twitter.com/{$twitter}"'), title!=echo('"@{$twitter}"'), target="_blank")!= "@{$twitter}"
					- endif
					- $socials = get_field('socials', "user_". get_the_author_id());
					//- - var_dump($socials)
					p.bio.text-center.text-white!=get_the_author_meta('description', get_the_author_id())
					+social
