include ./blocks/_blocks
doctype html
block templateName
block variables
block query
head
	block title
		title!=bloginfo('name')
		
	block meta
		meta(charset!=echo("bloginfo('charset')"))
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='profile', href='http://gmpg.org/xfn/11')
		link(rel='pingback', href!="<?php bloginfo( 'pingback_url' ); ?>")
		block og-meta
			meta(property="og:url", content!=echo('get_site_url()'))
			meta(property="og:type", content="website")
			meta(property="og:title", content!=echo('bloginfo("name")'))
			meta(property="og:description", content!=echo('bloginfo("description")'))
			meta(property="og:image", content!=image('share-image.jpg'))

	block favicon
		- if(!get_option( 'site_icon' )):
			link(href!='<?php echo get_template_directory_uri(); ?>/library/images/favicon.ico', rel='shortcut icon')
		- endif
	
	block scripts
		- wp_head();
	block styles
body("<?php body_class(); ?>")
	block facebook
		#fb-root
		script.
			var FB_APP_ID = "<?php echo get_field('fb_app_id','options') ?>";
	.main-container.mdl-layout__container
			block header
				//- include ./includes/_header.jade
			block wrapper
				div#wrapper
					main#main.mdl-layout__content(tabindex="-1", role="main")
						.main-grid.mdl-grid
							block main
						.cf
			block footer
				include ./includes/_footer.jade
