@media (max-width:$screen-xs-max) {
	.pull-right-xs {
	  float: right;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.pull-right-sm {
	  float: right;
	}
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.pull-right-md {
	  float: right;
	}
}
@media (min-width: $screen-lg-min) {
	.pull-right-lg {
	  float: right;
	}
}

.margin {
	margin: 20px auto;
}
.no-margin {
	margin: 0 !important;
}