.gxn-card {
	height: 100%;
	.mdl-card__media {
		height: 100%;
		background-image: image-url('main/logotype.svg');
		background-color: $dark-gray;
		background-size: 300px;
		background-repeat: no-repeat;
	}
	.meta {
		background-color: $light-gray;
	}
}
