include ../blocks/_blocks
footer#footer(role="contentinfo")
	div.container-fluid
		- $socials = get_field('socials', 'options');
		+social
	div.container-fluid
		div.menu
			:php
				echo wp_nav_menu(
					array(
						'theme_location' => 'main-menu',
						'depth' => 2,
						'container' => false,
						'menu_class' => 'nav navbar-nav center',
						'fallback_cb' => 'Odin_Bootstrap_Nav_Walker::fallback',
						'walker' => new Odin_Bootstrap_Nav_Walker()
					)
				);
		div
			p 
				| &copy; <?php echo date('Y'); ?> #[a(href!="<?php echo home_url(); ?>") Guaxinim Games] 
				- echo _e( 'All rights reserved', 'odin' )
- wp_footer();
