include ../blocks/_blocks
a#skippy.sr-only.sr-only-focusable(href='#content')
	.container
		span.skiplink-text
			- _e( 'Skip to content', 'odin' );
header#header(role='banner')
		.container
			block top
				.header-top
					.col-md-3
			block middle
				.page-header
					- odin_the_custom_logo();
					- $header_image = get_header_image();
					- if(!empty($header_image)):
						a.text-center(href!="<?php echo esc_url( home_url( '/' ) ); ?>", style!="background-image:url(<?php echo esc_url( $header_image ); ?>)")
					- endif
			block nav
				div#main-navigation.navbar.navbar-default
					div.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-navigation')
							span.sr-only
								- _e( 'Toggle navigation', 'odin' );
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand.visible-xs-block(href!="<?php echo esc_url( home_url( '/' ) ); ?>", title!="<?php echo esc_attr( get_bloginfo( 'name', 'display' ) ); ?>", rel='home')
					nav.collapse.navbar-collapse.navbar-main-navigation(role='navigation')
						- wp_nav_menu(array('theme_location' => 'main-menu','depth' => 2,'container' => false,'menu_class' => 'nav navbar-nav','fallback_cb' => 'Odin_Bootstrap_Nav_Walker::fallback','walker' => new Odin_Bootstrap_Nav_Walker()));
						block search
						+searchbox(class="navbar-right")
