.newsletter{
	padding: 0;
	form{
		padding: 0;
		&.left{
			text-align: left;
		}
		&.center{
			text-align: center;
		}
		&.right{
			text-align: right;
		}
		.form-group{
			padding: 0 5px;
			>.input-group,>input{
				width: 100%;
			}
		}
		&.block{
			.form-group{
				margin-bottom: 10px;
			}
		}
		&.n-fields{
			.form-group{
				padding: 0 5px;
			}
		}
	}
}
