extends ../index
block layout
	- $layout = "full";
prepend header
	- //Template Name: Home
block main
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			h1.text-center Últimas Postagens
			:php
				$itens = array();
				foreach(get_posts(array('post_type' => 'post')) as $key => $value) {
					array_push($itens, (object) array(
						'src' => wp_get_attachment_image_src( get_post_thumbnail_id($value->ID), 'medium' )['0'],
						'title' => $value->post_title,
						'href' => get_permalink($value->ID)
						)
					);
				}
				$slider = array('items' => $itens);
			+slider
	.row.margin
		.col-xs-12.col-sm-6.col-md-6.col-lg-6.margin
			h1.text-center.no-margin Categorias
			- $masonry = array()
			- foreach(get_categories(array('post_type' => 'post')) as $key => $value):
				:php
					$item = new StdClass();
					$item->name = $value->name;
					$item->href = get_term_link($value->term_id);
					$item->src = get_field('category_image', $value);
					$item->target = "_self";
					array_push($masonry, $item); 
			- endforeach
			+masonry("col-xs-12 col-sm-4 col-md-4 col-lg-4")

		.col-xs-12.col-sm-6.col-md-6.col-lg-6.margin
			.content-fluid
				a.twitter-timeline(data-theme="light", data-height="600" href="https://twitter.com/gamesguaxinim") Tweets by gamesguaxinim
				script(async. src="//platform.twitter.com/widgets.js", charset="utf-8")

