/***************************
GENERAL STYLES
***************************/
main {
  width: 100%;
  padding-bottom: 100px;
}
.main-grid {
  width: 100%;
  max-width: 1200px;
}

/***************************
IMAGES STYLES
***************************/
.img-circle {
  @include border-radius(100%);
}

/***************************
OVERLAYS STYLES
***************************/
.overlay-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba($black, .2);
  z-index: 0;
}
