include ../blocks/_blocks


footer#footer.mdl-mini-footer(role="contentinfo")
	.mdl-mini-footer--left-section
		+social("text-left")
	.mdl-mini-footer--right-section
		#copyright
					.wrapper-footer.col-xs-12.col-sm-10.col-md-10
						p &copy; Copyright 2005-<?php echo date('Y'); ?> <?php echo bloginfo('name') ?>. Todos os direitos reservados.
						a(href="http://www.tinpix.com",title="Tinpix Digital",target="_blank",id="tinpix-logo")
						.clear
					.clear
- wp_footer();
