include ../blocks/_blocks
:php
	wp_reset_postdata();
	wp_reset_query();
header#header.mdl-layout__header
	.mdl-layout__header-row
		.mdl-layout__drawer-button(aria-expanded='false', role='button', tabindex='0')
			i.material-icons 

		// Title
		span.mdl-layout-title
		a.mdl-navigation__link(href!=echo("home_url()", title!=echo("bloginfo('name')")))
			img(src!=image("main/logo-horizontal.svg"), alt="")
		// Add spacer, to align navigation to the right
		.mdl-layout-spacer
		// Navigation. We hide it in small screens.
		nav.mdl-navigation.mdl-layout--large-screen-only
			- foreach(wp_get_nav_menu_items('Main Menu') as $item):
				a.mdl-navigation__link(href!=echo("$item->url"), title!=echo("$item->title"))!= $item->title
			- endforeach
block drawer-menu
	include _drawer-menu