mixin button_back
	.back-btn
		:php
			$url = htmlspecialchars($_SERVER['HTTP_REFERER']);
			if($url == "") {
				$url = get_site_url();
			}
		a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href!=echo('$url'))
			i.material-icons arrow_back
