mixin social(classes)
	.social-block(class=classes)
		ul
			:php
				$icons = array (
					'facebook' 	=> "facebook",
					'twitter'	=>	"twitter",
					'pinterest'	=>	"pinterest-p",
					'youtube'	=>	"youtube-play",
					'instagram'	=>	"instagram",
					'linkedin'	=>	"linkedin"
				);
				$socials = isset($socials)? $socials : get_field('socials', 'options');
			- foreach($socials as $social):
				:php
					$_name = $social['name'];
					$_url = $social['url'];
					$_icon = isset($icons[$_name])? $icons[$_name] : $_name;
				li(class!=echo('$_name'))
					a(href!=echo('$_url'), target="_blank")
						i.fa(class!=echo('"fa-{$_icon}"'))
			- endforeach
			- $socials = null;
