//- //- Test items
//- | <?php 
//- |			$items = array(
//- |				(object) array(
//- |					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona1.jpg",
//- |					"href" => "http://www.google.com",
//- |					"target" => "_blank",
//- |					"title" => "Sexy!",
//- |					"caption" => "Wow, such amazing!"
//- |				),
//- |				(object) array(
//- |					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona2.jpg",
//- |					"title" => "Cute!",
//- |					"caption" => null
//- |				),
//- |				(object) array(
//- |					"src" => get_template_directory_uri() . "/assets/images/remove_this/ramona3.jpg"
//- |				)
//- |	); ?>
.row
	div.col-md-12
		h1.text-center Slider
.row
	div.col-md-12
		div.carousel-container
			h2.text-center Default
			+slider("carousel-1", "<?php $items ?>", "<?php $options?>")
.row
	div.col-md-6
		div.carousel-container
			h2.text-center Custom Height
			| <?php
			|		$options = (object) array(
			|					"height"=> 600,
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-2", "<?php $items ?>", "<?php $options?>")
	div.col-md-6
		div.carousel-container
			h2.text-center No shadow
			| <?php
			|		$options = (object) array(
			|					"shadow"=> false,
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-3", "<?php $items ?>", "<?php $options ?>")
.row
	div.col-md-6
		div.carousel-container
			h2.text-center Font Awesome arrow
			| <?php
			|		$options = (object) array(
			|					"control_class"=> "caret",
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-4", "<?php $items ?>", "<?php $options?>")
	div.col-md-6
		div.carousel-container
			h2.text-center No arrow
			| <?php
			|		$options = (object) array(
			|					"controls"=> false,
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-5", "<?php $items ?>", "<?php $options ?>")
.row
	div.col-md-12
		div.carousel-container
			h2.text-center Finite
			| <?php
			|		$options = (object) array(
			|					"wrap"=> false,
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-6", "<?php $items ?>", "<?php $options ?>")
.row
	div.col-md-6
		div.carousel-container
			h2.text-center Custom Interval
			| <?php
			|		$options = (object) array(
			|					"interval"=> 1000,
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-7", "<?php $items ?>", "<?php $options?>")
	div.col-md-6
		div.carousel-container
			h2.text-center No interval
			| <?php
			|		$options = (object) array(
			|					"interval"=> false,
			|		); ?>
			pre
				- var_dump($options);
			+slider("carousel-8", "<?php $items ?>", "<?php $options ?>")
.row
	div.col-md-6
		div.carousel-container
		h2.text-center Outer Dots
		| <?php
		|		$options = (object) array(
		|					"out_dots"=> true,
		|		); ?>
		pre
			- var_dump($options);
		+slider("carousel-9", "<?php $items ?>", "<?php $options ?>")
	div.col-md-5.pull-right
		div.carousel-container
		h2.text-center Outer Controls
		| <?php
		|		$options = (object) array(
		|					"out_controls"=> true,
		|		); ?>
		pre
			- var_dump($options);
		+slider("carousel-10", "<?php $items ?>", "<?php $options ?>")
.row
	div.col-md-12
		div.carousel-container
		h2.text-center No Dots
		| <?php
		|		$options = (object) array(
		|					"dots"=> false,
		|		); ?>
		pre
			- var_dump($options);
		+slider("carousel-11", "<?php $items ?>", "<?php $options ?>")
