.row.text-center
	h1 Modal
	button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModal1") Default
	button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModal2") Dialog class
	button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModal3") Dialog class
	+modal("myModal1", "Test Title")
		.container-fluid
			h2 Modal Example.
			p Same modal
			img.img-responsive(src!="<?php echo get_template_directory_uri() . '/assets/images/remove_this/kim3.jpg'?>")
	+modal("myModal2", "Test Title 2")(dialog_class="modal-lg")
		.container-fluid
			h2 Another modal example
			h3 Same modal
			p.text-center Now with dialog class
			.col-md-10.col-md-offset-1
				img.img-responsive(src!="<?php echo get_template_directory_uri() . '/assets/images/remove_this/kim2.jpg'?>")
	+modal("myModal3", "Test Title 3")(dialog_class="modal-sm")
		.container-fluid
			h4 The Third
			h5 Example
			p.text-center Now with a diferent dialog class
			img.img-responsive(src!="<?php echo get_template_directory_uri() . '/assets/images/remove_this/kim1.jpg'?>")
