#author-card {
	margin-top: 100px;
	.avatar {
		width: 150px;
	    height: 150px;
	    margin: 0 auto;
	}
	.info {
		h1 {
			margin-bottom: 0;
		    line-height: 56px;
		}
		.twitter-link{
			display: block;
			margin: 12px 0;
		}
		.bio {
			font-size: 16px;
			max-width: 480px;
			margin: 0 auto;
		}
		.social-block {
			margin: 12px 0;
			a {
				font-size: 22px;
			}
		}
	}
}
