//- Attributes
//- (dialog_class) - the diolog class
mixin modal(id, title)
	.modal.fade(id="#{id}", tabindex="-1" role="dialog", aria-labelledby="")
		.modal-dialog(role="document", class="#{attributes.dialog_class}")
			.modal-content
				.modal-header
					button.close(data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title #{title}
				.modal-body
					block
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal")
						- echo _e('Close', 'odin')	
