//- SUBMIXINS
mixin email
	.form-group(class!="<?php echo $col_class ?>")
		- if(!$newsletter->remove_addon):
			.input-group
				span.input-group-addon
					i.fa.fa-envelope
				input.form-control(type="email", name="email", placeholder!="E-mail", required="required", rules="email")
		- else:
			input.form-control(type="email", name="email", placeholder!="E-mail", required="required", rules="email")
		- endif

mixin name
	.form-group(class!="<?php echo $col_class ?>")
		- if(!$newsletter->remove_addon):
			.input-group
				span.input-group-addon
					i.fa.fa-user
				input.form-control(type="text", name="name", placeholder!="<?php echo _e('Name','odin') ?>", required="required", rules="notnull")
		- else:
			input.form-control(type="text", name="name", placeholder!="<?php echo _e('Name','odin') ?>", required="required", rules="notnull")
		- endif
mixin phone
	.form-group(class!="<?php echo $col_class ?>")
		- if(!$newsletter->remove_addon):
			.input-group
				span.input-group-addon
					i.fa.fa-phone
				input.form-control(type="text", name="phone", placeholder!="<?php echo _e('Phone','odin') ?>", required="required", data-mask!="<?php echo $newsletter->phone ?>", rules="notnull")
		- else:
			input.form-control(type="text", name="phone", placeholder!="<?php echo _e('Phone','odin') ?>", required="required", data-mask!="<?php echo $newsletter->phone ?>", rules="notnull")
		- endif
	
mixin newsletter
	//- Prepare Options
	| <?php 
	|		$newsletter = (object) array(
	|					"name" => (isset($newsletter->name))? $newsletter->name : false,
	|					"phone" => (isset($newsletter->phone))? $newsletter->phone : false,
	|					"block" => (isset($newsletter->block))? $newsletter->block : false,
	|					"classes" => (isset($newsletter->classes))? $newsletter->classes : null,
	|					"remove_addon" => (isset($newsletter->remove_addon))? $newsletter->remove_addon : false,
	|					"submit_class" => (isset($newsletter->submit_class))? $newsletter->submit_class : false
	|			); ?>
	| <?php 
	|	$n_fields = 1;
	|	if($newsletter->name){
	|		$n_fields++;			
	|	}
	|	if($newsletter->phone){
	|		$n_fields++;
	|	}
	|	$col_class = "";
	|	if(!$newsletter->block){
	|		switch($n_fields){			
	|			case 2:
	|				$col_class .= " col-sm-5 col-lg-5";
	|				break;
	|			case 3:
	|				$col_class .= " col-sm-3 col-lg-3";
	|				break;
	|		}			
	|	} ?>
	.newsletter.container-fluid
		form(class!="<?php echo ($newsletter->block)? 'block':'navbar-form' ?>", class!="<?php echo ($n_fields >= 3)? 'n-fields': null ?>", class!="<?php echo $newsletter->classes ?>")
			- if($newsletter->block):
					div
						+email
					- if($newsletter->name):
						div
							+name
					- endif				
					- if($newsletter->phone):
						div
							+phone
					- endif
					.form-group.pull-right
						button.btn.btn-default(type="submit", name="submit")
							- echo _e('Send','odin')
			- else:
				+email
				- if($newsletter->name):
					+name
				- endif				
				- if($newsletter->phone):
					+phone
				- endif
				.form-group
					button.btn.btn-default.pull-right-xs(type="submit", name="submit", class!="<?php echo ($newsletter->block)? 'pull-right':'' ?>" class!="<?php echo ($newsletter->submit_class)? $newsletter->submit_class : '' ?>")
						- echo _e('Send','odin')
			- endif
					
	- $newsletter = null;
		//- |<div class="input-group">
		//- |	<span class="input-group-addon" id="basic-addon1">@</span>
		//- |	<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		//- |</div>
