//- attributes
//- 	data-interval="int|false" <5000> ==> carousel interval (miliseconds)
//- 	data-pause="hover|false" <"hover"> ==> pause carousel on hover
//- 	data-wrap="boolean" <false> ==> Specifies whether the carousel should go through all slides continuously, or stop at the last slide

//- SUBMIXINS
mixin controls
	a.left.carousel-control(href!="#slider-<?php echo $slider['options']->id ?>", role="button", data-slide="prev", class!="<?php echo ($slider['options']->shadow)? '':'no-shadow' ?> <?php echo ($slider['options']->out_controls)? 'out no-shadow':'' ?>")
		span.glyphicon.glyphicon-chevron-left(aria-hidden="true", class!="<?php echo ($slider['options']->control_class)? ($slider['options']->control_class . '-left') : ('') ?>")
		span.sr-only Previous
	a.right.carousel-control(href!="#slider-<?php echo $slider['options']->id ?>", role="button", data-slide="next", class!="<?php echo ($slider['options']->shadow)? '':'no-shadow' ?> <?php echo ($slider['options']->out_controls)? 'out no-shadow':'' ?>")
		span.glyphicon.glyphicon-chevron-right(aria-hidden="true", class!="<?php echo ($slider['options']->control_class)? ($slider['options']->control_class . '-right') : ('') ?>")
		span.sr-only Next
mixin dots
	ol.carousel-indicators
		- foreach($slider['items'] as $key=>$value):
			li(data-target!="#slider-<?php echo $slider['options']->id ?>", data-slide-to!="<?php echo $key ?>", class!="<?php echo ($key == 0)? 'active' : '' ?>")
		- endforeach
		
mixin slider($slider)
	//- Prepare option object
	:php
		$slider['options'] = isset($slider['options']) && is_object($slider['options']) ? $slider['options'] : new stdClass;
		$slider['options']->id = isset($slider['options']->id)? $slider['options']->id : 'pipa-slider-'.uniqid();
		$slider['options']->height = isset($slider['options']->height)? $slider['options']->height : 400;
		$slider['options']->interval = isset($slider['options']->interval)? $slider['options']->interval : 5;
		$slider['options']->wrap = isset($slider['options']->wrap)? $slider['options']->wrap : true;
		$slider['options']->dots = isset($slider['options']->dots)? $slider['options']->dots : true;
		$slider['options']->shadow = isset($slider['options']->shadow)? $slider['options']->shadow : true;
		$slider['options']->controls = isset($slider['options']->controls)? $slider['options']->controls : true;
		$slider['options']->control_class	= isset($slider['options']->control_class)? $slider['options']->control_class : false;
		$slider['options']->out_dots	= isset($slider['options']->out_dots)? $slider['options']->out_dots : false;
		$slider['options']->out_controls	= isset($slider['options']->out_controls)? $slider['options']->out_controls : false;
		$slider['items']	= isset($slider['items'])? $slider['items'] : array();
	
	
	.carousel.slide(id!="slider-<?php echo $slider['options']->id; ?>", class!="<?php echo ($slider['options']->out_dots)? 'out':'' ?>", data-ride="carousel", data-interval!="<?php echo $slider['options']->interval * 1000 ?>", data-wrap!="<?php echo $slider['options']->wrap ?>", data-height!="<?php echo $slider['options']->height ?>")
			//- Wrapper for slides
			.carousel-inner(role="listbox")
				//- Make items
				- foreach($slider['items'] as $key => $value):
					:php
						$value = (object) $value;

						$src = null;
						if(isset($value->src)){
							$src = $value->src;
						}

					.item(class!="<?php echo ($key == 0)? 'active' : '' ?>", data-src!="<?php echo $src ?>")
						//- Make link (if its have)
						- if(isset($value->href)):
							a(href!="<?php echo $value->href ?>", target!="<?php echo isset($value->target)? $value->target : '_blank' ?>")
						- endif
						//- make image
						.slider-size(style!='background-image:<?php echo "url({$src});" ?>')
							//- Make Title and Caption
							.carousel-caption
								:php
									$title = null;
									if(isset($value->title)){
										$title = $value->title;
									}
								h3!= $title;
								:php
									$caption = null;
									if(isset($value->sliders_post_format_field_images_repeater_description)){
										$caption = $value->sliders_post_format_field_images_repeater_description;
									} else if(isset($value->caption)){
										$caption = $value->caption;
									}
								p!= $caption;
									
				- endforeach
				//- Controls
				- if($slider['options']->controls && !$slider['options']->out_controls):
					+controls
				- endif
			//- out controls
			- if($slider['options']->controls && $slider['options']->out_controls):
				+controls
			- endif
				//- Indicators
				- if($slider['options']->dots && !$slider['options']->out_dots):
					+dots
				- endif				
			//- out indicatros
			- if($slider['options']->dots && $slider['options']->out_dots):
				+dots
			- endif
	//- reset slider variable
	- $slider = null;