mixin social
	- $socials = get_field('socials', 'options');
	- if(isset($socials) && is_array($socials)):
		div.social-block
			ul
				- foreach($socials as $social):
					li.list-unstyled
						a(href!="<?php echo $social['url'] ?>", target="_blank")
							i.fa(class!="fa-<?php echo $social['name'] ?>")
				- endforeach
	- endif
	- $socials = null;
