mixin social
	- if(isset($socials) && is_array($socials)):
		div.social-block
			ul.list-unstyled
				- foreach($socials as $social):
					li
						a(href!="<?php echo $social['url'] ?>", target="_blank")
							i.fa(class!="fa-<?php echo $social['name'] ?>")
				- endforeach
	- endif
	- $socials = null;
