extends ../archive
prepend header
	- //Template Name: Home
append styles
	link(rel="stylesheet", href!=css("pages/home/home.css"))
prepend main
	:php
		$posts = get_posts(array('post_type' => 'post', 'numberposts' => get_option( 'posts_per_page' )));
		$posts_total = intval(wp_count_posts('post')->publish);
		$posts_length = intval(sizeof($posts));
block archive-header
	#home.home-cell.mdl-cell.mdl-cell--12-col
		.gxn-card.mdl-card.mdl-shadow--2dp
			a(href!=echo('get_site_url()'))
				.mdl-card__media
block archive-footer
	+load-more
