extends ../index
prepend header
	- //Template Name: Home
append styles
	link(rel="stylesheet", href!=css("pages/home/home.css"))
block main
	.mdl-cell.mdl-cell--12-col
		.gxn-card.mdl-card.mdl-shadow--2dp
			.mdl-card__media
	- foreach(get_posts(array('post_type' => 'post', 'numberposts' => 10)) as $post):
		- setup_postdata($post)
			.mdl-cell
				+post-card
		- wp_reset_postdata()
	- endforeach
